<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", home_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb.title %></li>
  </ol>
</nav>