<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-1"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    © <%= Time.now.year%> Copyright:
    <a class="text-white" href="https://github.com/EduardKurbanov/RubyHW/tree/main/HW10/online_store">github.com/EduardKurbanov/</a>
    </div>
    <!-- Copyright -->
</footer>