<%= turbo_stream_from 'products' %>

<div class="row">
  <%= render partial: "layouts/template/breadcrumb", locals: { breadcrumb: @category } %>
</div>

<div id="products" class="row products">
  <% @products.each do |product|%>
    <%= render partial: "products/index_products", locals: { product: product } %>
  <%end%>
</div>