
<% @products.each do |products|%>
  <div class="col mt-3">
    <div class="card" style="width: 18rem;">
      <%= image_tag image_url(products.image) %>
      <div class="card-body">
        <a href="/products/<%=products.id%>" class="card-link"><%= products.name%></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">pricy <%= products.price%></li>
      </ul>
    </div>
  </div>
<%end%>

