<div class="row mt-3">
  <%= render partial: "layouts/template/form_breadcrumb", locals: { breadcrumb: @product.category } %>
</div>

<div class="row">
  <h2 class="text-center">one products</h2>
</div>

<div class="row">
  <%= render partial: "products/form_show_products" %>
</div>

