<%= turbo_stream_from 'products' %>

<div class="row">
  <h2 class="text-center">all products</h2>
</div>

<div id="products" class="row products">
  <% @products.each do |product|%>
    <%= render partial: "products/index_products", locals: { product: product } %>
  <%end%>
</div>