<h1>!!! Сongratulations !!!</h1>

<p>you become the winner of the lottery in our store, 
which is held every month, you get a 25% discount coupon 
for products in our store</p>

<p>coupon expiration date <%= DateTime.now.to_date + 1.month %></p>


